<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bsi.fbd.minisiga">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".gui.adm.DisciplinaDetailAdm"></activity>
        <activity android:name=".gui.adm.DisciplinaEditAdm" />
        <activity android:name=".gui.adm.DisciplinaRegisterAdm" />
        <activity android:name=".gui.adm.MainCursoActivity" />
        <activity android:name=".gui.adm.TurmaDetailAdm" />
        <activity android:name=".gui.adm.TurmaAlunosEditAdm" />
        <activity android:name=".gui.adm.TurmaEditAdm" />
        <activity android:name=".gui.adm.TurmaRegisterAdm" />
        <activity android:name=".gui.adm.MainTurmaActivity" />
        <activity android:name=".gui.adm.CursoDetailAdm" />
        <activity android:name=".gui.adm.SalaDetailAdm" />
        <activity android:name=".gui.adm.CursoEditAdm" />
        <activity android:name=".gui.adm.SalaEditAdm" />
        <activity android:name=".gui.adm.CursoRegisterAdm" />
        <activity android:name=".gui.adm.SalaRegisterAdm" />
        <activity android:name=".gui.adm.MainBlocoActivity" />
        <activity android:name=".gui.adm.BlocoDetailAdm" />
        <activity android:name=".gui.adm.ProfessorDetailAdm" />
        <activity android:name=".gui.adm.AlunoDetailAdm" />
        <activity android:name=".gui.adm.ProfessorEditAdm" />
        <activity android:name=".gui.adm.AlunoEditAdm" />
        <activity android:name=".gui.adm.BlocoEditAdm" />
        <activity android:name=".gui.adm.ProfessorRegisterAdm" />
        <activity android:name=".gui.adm.AlunoRegisterAdm" />
        <activity android:name=".gui.adm.BlocoRegisterAdm" />
        <activity
            android:name=".gui.adm.Main_Adm_Activity"
            android:label="@string/title_activity_main_adm_"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".gui.adm.RegisterActivity" />
        <activity android:name=".gui.main.Network" />
        <activity android:name=".gui.main.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>